/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/
* {
  box-sizing: border-box;
}
body {
    background-color: #eaeaea;
    font-family: 'Abel', sans-serif;
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #111111;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
    font-family: 'Abel', sans-serif;  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
    padding-top: 50px;
  }
  h2 {
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    font-style: italic;
  }
  
  h3 {
    font-size: 30px;
    font-weight: 700;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 700;
  }
  img {
    width: 100%;
  }
  a {
    color: black;
    text-decoration: none; /* No underlining */
  }
  .links:visited { /* visited link */
    color: #111111;
  }
.links:hover {
    color: gray;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
a:active { /* selected link */
  color: #994c30;
}
a:focus {
  color:gray;
  text-decoration: underline;
}

  .buttonproject {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: black;
    font-weight: 400px;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid black; /* width of the border, type, color */
    transition-duration: 0.2s;
    color: white;
}
  .buttonproject:hover {
    text-decoration: none;
    opacity: 0.8;
  }
  .buttoncontact {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: black;
    color: white; /* needed to override the default link color */
    font-weight: 400px;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid black; /* width of the border, type, color */
    transition-duration: 0.2s;
  }
  .buttoncontact:hover {
    opacity: 0.8;
   text-decoration: none;
  }
    .number {
      font-weight:bold;
      color: #111111;
    }
.buttonresume {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: black;
  color: white; /* needed to override the default link color */
  font-weight: 400px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid black; /* width of the border, type, color */
  transition-duration: 0.2s;}
.buttonresume:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.buttonresume:hover {
  opacity: 0.8;
 text-decoration: none;
}
.arrow {
  height: 100px;
  width: 100px;
  margin: auto;
  display: block;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
  header {
    background-color: #eaeaea;
    padding: 10px 0;
    position: sticky;
}
  nav > ul {
    margin: 0;
    list-style-type: none;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
    color: #4a4a4a;
  }
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#hero h1 {
  font-weight: 100;
  margin: 0;
  padding: 0.67em 0;
}
#hero {
    background-color: #eaeaea;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  #hero span {
    display: block;
  }
  #about
  h3 { margin-top: 0;}
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }
  .navtoggle.responsive li  {
    display: block;
  }
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) { 
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
}
.col-md-7 {
  width: 50%;
}
.col-md-5 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
} 
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

